body {
    background-color: #D2D0BA;
}

.chef-picture {
    display: block;
    margin: auto;
    
}

.start-page {
    text-align: center;
    margin: 10px auto;
    
}

.recipes {
    text-align: center;
    margin: 10px auto;
}